<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= "#{@country.lat},#{@country.long}" %>);
    var myOptions = {
        zoom: <%= @country.zoom %>,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("country_map_canvas"), myOptions);

    var city_ll;
    var marker;
    <% @country.cities.each do |city| %>
      city_ll = new google.maps.LatLng(<%= "#{city.lat},#{city.long}" %>);
      marker = new MarkerWithLabel({
        position: city_ll,
        labelContent: '<%= city.reports.new.count %>',
        labelStyle: {opacity: 1},
        labelClass: 'labels',
        labelAnchor: new google.maps.Point(20, 0),
        map: map
      });
      google.maps.event.addListener(marker, 'click', function() {
        window.location.href = '<%= reports_url :subdomain => city.subdomain %>';
      });
    <% end %>
  }


  window.onload = initialize;
</script>
<div class="grid_12" id="country_map_canvas"></div>
<div class="clear"></div>
